

<h1 style="margin-left: 250px"> Employee Management App </h1>
<br>
<br>
<form class="form-horizontal">
  <div class="form-group">
  <label class="control-label col-sm-2" for="name">Employee Name </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" placeholder="Enter employee name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="empid">Employee ID </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="empid" name="empid" [(ngModel)]="model.empid"  placeholder="Enter employee ID">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="projectname">Project Name </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="projectname"  name="projectname" [(ngModel)]="model.projectname" placeholder="Enter Project Name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="Submit" class="btn btn-primary" (click)="addEmp()"> Save </button>
      </div>
  </div>
    <!--<button type="Submit" class="btn btn-block"> Update </button>;-->
</form>
    <h3> Read and Delete data </h3>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th width="70" class="bg">SI No. </th>
        <th width="250" class="bg">Employee Name </th>
        <th width="250" class="bg">Employee ID </th>
        <th width="250" class="bg">Project Name </th>
        <th width="150" class="bg">Actions </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of Employees;let i=index">
        <td>{{i+1}}</td>
        <td>{{employee.name }}</td>
        <td> {{employee.empid}} </td>
        <td> {{employee.projectname}}</td>
        <td>
          <a class="btn btn-success" (click)= "editEmp(i)" > Update </a>
          <a class="btn btn-danger" (click)= "deleteEmp(i)"> Delete </a>
        </td>
      </tr>


      </tbody>
    </table>


